IndentWidth: 4
ColumnLimit: 150
IndentCaseLabels: true
PointerAlignment: Right
AlignOperands: true
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AlignTrailingComments: true
AccessModifierOffset: -2
MaxEmptyLinesToKeep: 1
SpacesInParentheses: false
AllowShortFunctionsOnASingleLine: false
